body{
  text-align: center;
}
#wheel1, #wheel2{
animation: wheel 2s infinite linear;
transform-origin: center;
transform-box: fill-box;
}
@keyframes wheel {
  from{
      transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}
